@charset "utf-8";

.mdl-layout__tab-panel {
  padding: 8px;
  padding-top: 48px;
}

.mdl-grid {
  margin-bottom: 15px;

  &-post {
    margin-top: 25px;
  }

  &-marginTop {
    margin-top: 25px;
  }
}

.mdl-cell {

  &--center {
    margin: 0 auto;
  }
}

.mdl-card {
  width: 100%;
}

.mdl-list__item {
  &-leftMargin {
    margin-left: 10px;
  }
}

.hs-image {
  &-title {
    width: 100%;
  }
}

.hs-header-title {
  color: rgb(255,255,255);
  text-decoration: none;
}

.hs-chip {
  margin: 2px 3px;
}

.hs-button {
  margin: 0 3px;
}

.hs-list {

  &-item {
    float: left;
    list-style-type: none;
  }
}
