@charset "utf-8";

.mdl-layout__tab-panel {
  padding: 8px;
  padding-top: 48px;
}

.mdl-grid {
  margin-bottom: 48px;
}

.mdl-cell {

  &--center {
    margin: 0 auto;
  }
}

.mdl-card {
  width: 100%;
}

.hs-header-title {
  color: rgb(255,255,255);
  text-decoration: none;
}
