
<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked=""/>
      <h1 class="mdl-mega-footer__heading">バックナンバー</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">Vol001~100</a></li>
        <li><a href="#">Tools</a></li>
        <li><a href="#">Resources</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked=""/>
      <h1 class="mdl-mega-footer__heading">企画</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">カプリチョーザ杯</a></li>
        <li><a href="#">武道館公開収録</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked=""/>
      <h1 class="mdl-mega-footer__heading">放送を探す</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="/tags">タグリスト</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked=""/>
      <h1 class="mdl-mega-footer__heading">Amazon</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">放送室のCD</a></li>
        <li><a href="#">挿入歌リスト</a></li>
      </ul>
    </div>
  </div>
  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-logo">放送室まとめ</div>
    <ul class="mdl-mega-footer__link-list">
      <li><a href="#">放送室とは</a></li>
      <li><a href="#">Privacy & Terms</a></li>
    </ul>
  </div>
</footer>