
<header class="mdl-layout__header">
  <div class="mdl-layout__header-row"><a class="mdl-layout-title hs-header-title" href="{{ site.baseurl }}">放送室まとめ</a>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation mdl-layout--large-screen-only"><a class="mdl-navigation__link" href="{{ site.baseurl }}/lists/">放送リスト</a></nav>
  </div>
</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only"><a class="mdl-layout-title" href="{{ site.baseurl }}">放送室まとめ</a>
  <nav class="mdl-navigation"><a class="mdl-navigation__link" href="{{ site.baseurl }}/lists/">放送リスト</a>{% include header/backnumberList.html %}</nav>
</div>