section.mdl-grid
  .mdl-cell.mdl-cell--center.mdl-cell--9-col
    .mdl-card.mdl-shadow--2dp
      .mdl-card__title.mdl-typography--headline 放送室とは
      .mdl-card__supporting-text 「放送室」は、松本人志と放送作家の高須光聖によるラジオ番組。『松本人志の放送室』とも呼ばれる。放送期間は2001年10月4日から2009年3月28日。

section.mdl-grid
  .mdl-cell.mdl-cell--center.mdl-cell--9-col
    .mdl-card.mdl-shadow--2dp
      .mdl-card__title aaバックナンバー
      .mdl-card__supporting-text
        table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
          thead
            tr
              th Vol
              th 放送日
              th 内容
          tbody
            a(href="#")
              tr
                td 1
                td 2001年10月04日
                td 愛
            tr
              td 2
              td 2001年10月11日
              td 伊藤
            tr
              td 3
              td 2001年10月18日
              td 鬱
      .mdl-card__actions.mdl-card--border
        a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
          | もっとみる
