section.mdl-grid
  .mdl-cell.mdl-cell--center.mdl-cell--9-col
    .mdl-card.mdl-shadow--2dp
      .mdl-card__title.mdl-typography--headline 放送室とは
      .mdl-card__supporting-text 「放送室」は、松本人志と放送作家の高須光聖によるラジオ番組。『松本人志の放送室』とも呼ばれる。放送期間は2001年10月4日から2009年3月28日。

section.mdl-grid
  .mdl-cell.mdl-cell--center.mdl-cell--8-col
    .mdl-card.mdl-shadow--2dp
      .mdl-card__title.mdl-typography--title 放送リスト
      .mdl-card__supporting-text
        p 過去のバックナンバーは全391回あります。
      .mdl-card__actions.mdl-card--border
        a.mdl-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(href='{{ site.baseurl }}/lists')
          | 放送リストをみる


section.mdl-grid
  .mdl-cell.mdl-cell--center.mdl-cell--8-col
    .mdl-card.mdl-shadow--2dp
      .mdl-card__title.mdl-typography--title 検索
      .mdl-card__supporting-text
        p 過去のバックナンバーを検索することができます。バックナンバーの更新は進行中です。
      .mdl-card__actions.mdl-card--border
        a.mdl-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(href='#')
          | ページ内検索ページをみる
