section.mdl-grid
  .mdl-cell.mdl-cell--center.mdl-cell--9-col
    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
      thead
        tr
          th Vol
          th 内容
          th 内容
      tbody
        a(href="#")
          tr
            td 1
            td 愛
            td
              a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent 詳細
        tr
          td 2
          td 2001年10月11日
          td 伊藤
        tr
          td 3
          td 2001年10月18日
          td 鬱
