footer.mdl-mega-footer
  .mdl-mega-footer__middle-section
    .mdl-mega-footer__drop-down-section
      input.mdl-mega-footer__heading-checkbox(type='checkbox', checked='')
      h1.mdl-mega-footer__heading バックナンバー
      ul.mdl-mega-footer__link-list
        li
          a(href='#') Vol001~100
    .mdl-mega-footer__drop-down-section
      input.mdl-mega-footer__heading-checkbox(type='checkbox', checked='')
      h1.mdl-mega-footer__heading 企画
      ul.mdl-mega-footer__link-list
        li
          a(href='#') カプリチョーザ杯
        li
          a(href='#') 武道館公開収録
    .mdl-mega-footer__drop-down-section
      input.mdl-mega-footer__heading-checkbox(type='checkbox', checked='')
      h1.mdl-mega-footer__heading 放送を探す
      ul.mdl-mega-footer__link-list
        li
          a(href='/tags') タグリスト
    .mdl-mega-footer__drop-down-section
      input.mdl-mega-footer__heading-checkbox(type='checkbox', checked='')
      h1.mdl-mega-footer__heading Amazon
      ul.mdl-mega-footer__link-list
        li
          a(href='#') 放送室のCD
        li
          a(href='#') 挿入歌リスト
  .mdl-mega-footer__bottom-section
    .mdl-logo 放送室まとめ
    ul.mdl-mega-footer__link-list
      li
        a(href='#') 放送室とは
      li
        a(href='#') Privacy & Terms
