
footer.mdl-mega-footer
  .mdl-mega-footer__middle-section
    .mdl-mega-footer__drop-down-section
      input.mdl-mega-footer__heading-checkbox(type='checkbox', checked='')
      h1.mdl-mega-footer__heading 放送リスト
      ul.mdl-mega-footer__link-list
        | {% include footer/backnumberList.html %}
    .mdl-mega-footer__drop-down-section
      h1.mdl-mega-footer__heading 企画
      ul.mdl-mega-footer__link-list
        | {% include footer/guest.html %}
    .mdl-mega-footer__drop-down-section
      h1.mdl-mega-footer__heading 放送を探す
      ul.mdl-mega-footer__link-list
        li
          a(href='{{ site.baseurl }}/tags') タグリスト
    .mdl-mega-footer__drop-down-section
      h1.mdl-mega-footer__heading 放送室グッズ紹介
      ul.mdl-mega-footer__link-list
        li
          a(href='{{ site.baseurl }}/products') 放送室のCDや本
  .mdl-mega-footer__bottom-section
    .mdl-mega-footer__drop-down-section
      h1.mdl-mega-footer__heading 放送室まとめについて
      p このページはファンが作った「放送室」のまとめサイトです。非公式です。
script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-8914808-23', 'auto');
  ga('send', 'pageview');
