header.mdl-layout__header
  .mdl-layout__header-row
    span.mdl-layout-title 放送室まとめ
    .mdl-layout-spacer
    nav.mdl-navigation.mdl-layout--large-screen-only
      a.mdl-navigation__link(href='archive.html') 放送リスト
      a.mdl-navigation__link(href='') 企画
      a.mdl-navigation__link(href='') Link
      a.mdl-navigation__link(href='') Link
.mdl-layout__drawer
  span.mdl-layout-title Title
  nav.mdl-navigation
    a.mdl-navigation__link(href='') Link
    a.mdl-navigation__link(href='') Link
    a.mdl-navigation__link(href='') Link
    a.mdl-navigation__link(href='') Link
