
<div class="mdl-cell mdl-cell--center mdl-cell--9-col">
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">aaバックナンバー</div>
    <div class="mdl-card__supporting-text">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th>Vol</th>
            <th>放送日</th>
            <th>内容</th>
          </tr>
        </thead>
        <tbody><a href="#">
            <tr>
              <td>1</td>
              <td>2001年10月04日</td>
              <td>愛</td>
            </tr></a>
          <tr>
            <td>2</td>
            <td>2001年10月11日</td>
            <td>伊藤</td>
          </tr>
          <tr>
            <td>3</td>
            <td>2001年10月18日</td>
            <td>鬱</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mdl-card__actions mdl-card--border"><a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">もっとみる</a></div>
  </div>
</div>