
<section class="mdl-grid">
  <div class="mdl-cell mdl-cell--center mdl-cell--9-col">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th>Vol</th>
          <th>内容</th>
          <th>内容</th>
        </tr>
      </thead>
      <tbody><a href="#">
          <tr>
            <td>1</td>
            <td>愛</td>
            <td><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">詳細</a></td>
          </tr></a>
        <tr>
          <td>2</td>
          <td>2001年10月11日</td>
          <td>伊藤</td>
        </tr>
        <tr>
          <td>3</td>
          <td>2001年10月18日</td>
          <td>鬱</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>