.mdl-card.mdl-shadow--2dp
  .mdl-card__title バックナンバー
  .mdl-card__supporting-text
    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
      thead
        tr
          th Vol
          th 放送日
          th 内容
      tbody
        tr
          td 1
          td 2001年10月04日
          td 愛
        tr
          td 2
          td 2001年10月11日
          td 伊藤
        tr
          td 3
          td 2001年10月18日
          td 鬱
  .mdl-card__actions.mdl-card--border
    a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
      | もっとみる
