
<section class="mdl-grid mdl-grid-marginTop">
  <div class="mdl-cell mdl-cell--center mdl-cell--9-col">
    <div class="mdl-typography--headline">企画リスト</div>
  </div>
</section>
<section class="mdl-grid">
  <div class="mdl-cell mdl-cell--center mdl-cell--9-col">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-typography--title">カプリチョーザ杯</div>
      <div class="mdl-card__supporting-text">
        <p>松本がカプリチョーザ好きということからカプリチョーザがスポンサーになる。やがてお題のテーマを会話中に入れるというカプリチョーザ杯が生まれた。多数の芸人が電話出演した。</p>
        <ul class="mdl-list">
          <li class="mdl-list__item"><a href="{{ site.baseurl }}/archive/2004/09/23/001/">vol.156</a></li>
          <ul class="mdl-list">
            <li class="mdl-list__item">松本がカプリチョーザのニンニクとトマトのスパゲッティを絶賛</li>
          </ul>
        </ul>
        <ul class="mdl-list">
          <li class="mdl-list__item"><a href="{{ site.baseurl }}/archive/2004/12/16/001/">vol.168</a></li>
          <ul class="mdl-list">
            <li class="mdl-list__item">テーマ「乗り物」、千原ジュニア</li>
            <li class="mdl-list__item">テーマ「昆虫」、ほっしゃん。</li>
            <li class="mdl-list__item">テーマ「魚」、山下しげのり</li>
            <li class="mdl-list__item">テーマ「鳥」、水玉れっぷう隊アキ</li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</section>