
<section class="mdl-grid mdl-grid-marginTop">
  <div class="mdl-cell mdl-cell--center mdl-cell--9-col">
    <div class="mdl-typography--headline">企画リスト</div>
  </div>
</section>
<section class="mdl-grid">
  <div class="mdl-cell mdl-cell--center mdl-cell--9-col">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-typography--title" id="publicBroadcast">公開録音</div>
      <div class="mdl-card__supporting-text">
        <p>12人の前だけの公開録音。</p>
        <ul class="mdl-list">
          <li class="mdl-list__item"><a href="{{ site.baseurl }}/archive/2002/06/20/001/">vol.38</a></li>
          <li class="mdl-list__item"><a href="{{ site.baseurl }}/archive/2002/06/27/001/">vol.39</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="mdl-grid">
  <div class="mdl-cell mdl-cell--center mdl-cell--9-col">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-typography--title" id="tellToMother">オカンに電話</div>
      <div class="mdl-card__supporting-text">
        <p>松本、高須が自分のオカンに電話して「ボブサップ知ってる?」と聞く企画。</p>
        <ul class="mdl-list">
          <li class="mdl-list__item"><a href="{{ site.baseurl }}/archive/2003/01/30/001/">vol.70</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="mdl-grid">
  <div class="mdl-cell mdl-cell--center mdl-cell--9-col">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-typography--title" id="budoukan">放送室 in 武道館</div>
      <div class="mdl-card__supporting-text">
        <p>2003年12月27日に日本武道館で行われた史上最大の公開録音。</p>
        <ul class="mdl-list">
          <li class="mdl-list__item"><a href="{{ site.baseurl }}/archive/2004/02/05/001/">vol.123</a></li>
          <li class="mdl-list__item"><a href="{{ site.baseurl }}/archive/2004/02/12/001/">vol.124</a></li>
          <li class="mdl-list__item"><a href="{{ site.baseurl }}/archive/2004/02/19/001/">vol.125</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="mdl-grid">
  <div class="mdl-cell mdl-cell--center mdl-cell--9-col">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-typography--title" id="capri">カプリチョーザ杯</div>
      <div class="mdl-card__supporting-text">
        <p>松本がカプリチョーザ好きということからカプリチョーザがスポンサーになる。やがてお題のテーマを会話中に入れるというカプリチョーザ杯が生まれた。多数の芸人が電話出演した。</p>
        <ul class="mdl-list">
          <li class="mdl-list__item"><a href="{{ site.baseurl }}/archive/2004/09/23/001/">vol.156</a></li>
          <ul class="mdl-list">
            <li class="mdl-list__item">松本がカプリチョーザのニンニクとトマトのスパゲッティを絶賛</li>
          </ul>
        </ul>
        <ul class="mdl-list">
          <li class="mdl-list__item"><a href="{{ site.baseurl }}/archive/2004/12/16/001/">第1回(vol.168)</a></li>
          <ul class="mdl-list">
            <li class="mdl-list__item">テーマ「乗り物」千原ジュニア</li>
            <li class="mdl-list__item">テーマ「昆虫」ほっしゃん。</li>
            <li class="mdl-list__item">テーマ「魚」山下しげのり</li>
            <li class="mdl-list__item">テーマ「鳥」水玉れっぷう隊アキ</li>
            <li class="mdl-list__item">テーマ「飲み物」千原せいじ</li>
          </ul>
        </ul>
        <ul class="mdl-list">
          <li class="mdl-list__item"><a href="{{ site.baseurl }}/archive/2005/01/06/001/">第2回(vol.171)</a></li>
          <ul class="mdl-list">
            <li class="mdl-list__item">テーマ「国名」山下しげのり</li>
            <li class="mdl-list__item">テーマ「果物」大山</li>
            <li class="mdl-list__item">テーマ「動物」宮川大輔</li>
            <li class="mdl-list__item">テーマ「色」ライセンス藤原</li>
            <li class="mdl-list__item">テーマ「花」FUJIWARA藤本</li>
          </ul>
        </ul>
        <ul class="mdl-list">
          <li class="mdl-list__item"><a href="{{ site.baseurl }}/archive/2005/04/23/001/">第3回(vol.187)</a></li>
          <ul class="mdl-list">
            <li class="mdl-list__item">テーマ「外国名」DonDokoDon平畠</li>
            <li class="mdl-list__item">テーマ「虫」ガキの使いディレクター堤本</li>
            <li class="mdl-list__item">テーマ「果物」くりぃむしちゅー有田</li>
            <li class="mdl-list__item">テーマ「魚」ライセンス井本</li>
            <li class="mdl-list__item">テーマ「動物」かわら長介</li>
          </ul>
        </ul>
        <ul class="mdl-list">
          <li class="mdl-list__item"><a href="{{ site.baseurl }}/archive/2006/01/14/001/">第4回(vol.224)</a></li>
          <ul class="mdl-list">
            <li class="mdl-list__item">テーマ「乗り物」千原せいじ</li>
            <li class="mdl-list__item">テーマ「飲み物」FUJIWARA藤本</li>
            <li class="mdl-list__item">テーマ「花」DonDokoDon平畠</li>
            <li class="mdl-list__item">テーマ「外国名」バッファロー吾郎</li>
          </ul>
        </ul>
        <ul class="mdl-list">
          <li class="mdl-list__item"><a href="{{ site.baseurl }}/archive/2009/01/03/001/">総集編(vol.379)</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="mdl-grid">
  <div class="mdl-cell mdl-cell--center mdl-cell--9-col">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-typography--title" id="guest">ゲスト出演</div>
      <div class="mdl-card__supporting-text">
        <ul class="mdl-list">
          <li class="mdl-list__item"><a href="{{ site.baseurl }}/archive/2003/01/16/001/">vol.68</a><span class="mdl-list__item-leftMargin">千原ジュニア、木村祐一</span></li>
          <li class="mdl-list__item"><a href="{{ site.baseurl }}/archive/2003/07/17/001/">vol.94</a><span class="mdl-list__item-leftMargin">山崎邦正</span></li>
          <li class="mdl-list__item"><a href="{{ site.baseurl }}/archive/2005/08/27/001/">vol.205</a><span class="mdl-list__item-leftMargin">清水宏泰、城間康男</span></li>
          <li class="mdl-list__item"><a href="{{ site.baseurl }}/archive/2007/04/28/001/">vol.291</a><span class="mdl-list__item-leftMargin">トータス松本</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>