
<section class="mdl-grid mdl-grid-marginTop">
  <div class="mdl-cell mdl-cell--9-col">
    <div class="mdl-typography--headline">放送室のCDや本</div>
  </div>
</section>
<section class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-phone">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__supporting-text"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=naoyashiga-22&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B00EZCI8EO&linkId=1ce4c26e8438ade860f8fba27ea1dd89"></iframe></div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-phone">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__supporting-text"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=naoyashiga-22&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B0015FHHUK&linkId=1adf08491709ae26bbc4f2e5b1dad047"></iframe></div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-phone">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__supporting-text"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=naoyashiga-22&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=4344413938&linkId=1cd5e048adcad2ead03341de3ad68551"></iframe></div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-phone">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__supporting-text"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=naoyashiga-22&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=4344417984&linkId=ea47ce89e28d9129c7a2515ce9e6faea"></iframe></div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-phone">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__supporting-text"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=naoyashiga-22&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=488745158X&linkId=58c42277af958fe88a8493518fbbb110"></iframe></div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-phone">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__supporting-text"><iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=naoyashiga-22&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B00TRTZDCK&linkId=0959bf6ff981f1001e84f1576043b8e2"></iframe></div>
    </div>
  </div>
</section>