li
  a(href='{{ site.baseurl }}/plannings#publicBroadcast') 公開録音
li
  a(href='{{ site.baseurl }}/plannings#tellToMother') オカンに電話
li
  a(href='{{ site.baseurl }}/plannings#budoukan') 放送室 in 武道館
li
  a(href='{{ site.baseurl }}/plannings#capri') カプリチョーザ杯
li
  a(href='{{ site.baseurl }}/plannings#guest') ゲスト出演
