li
  a(href='{{ site.baseurl }}/plannings/index.html#publicBroadcast') 公開録音
li
  a(href='{{ site.baseurl }}/plannings/index.html#tellToMother') オカンに電話
li
  a(href='{{ site.baseurl }}/plannings/index.html#budoukan') 放送室 in 武道館
li
  a(href='{{ site.baseurl }}/plannings/index.html#capri') カプリチョーザ杯
li
  a(href='{{ site.baseurl }}/plannings/index.html#guest') ゲスト出演
