section.mdl-grid
  .mdl-cell.mdl-cell--center.mdl-cell--9-col
    .mdl-card.mdl-shadow--2dp
      .mdl-card__title.mdl-typography--headline 放送リスト
      .mdl-card__supporting-text
        ul
          | {% for post in site.posts %}
          li
            a(href='{{ post.url }}') {{ post.title }}
            |   {% endfor %}

section.mdl-grid
  .mdl-cell.mdl-cell--center.mdl-cell--9-col
    .mdl-typography--headline 放送リストvol1~10

section.mdl-grid
  .mdl-cell.mdl-cell--center.mdl-cell--9-col
    .mdl-card.mdl-shadow--2dp
      .mdl-card__title.mdl-typography--title vol.1
      .mdl-card__supporting-text
          p 準備中
      .mdl-card__actions.mdl-card--border
        a.mdl-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored
          | 詳細をみる
        a.mdl-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent
          | Youtubeで探す
      .mdl-card__actions.mdl-card--border
        span.mdl-chip
          a.mdl-chip__text(href='#') 山崎
        span.mdl-chip
          a.mdl-chip__text(href='#') ワンチャン
