mixin addInnerPageLinks
  | {% assign separateNum = 9 %}
  | {% assign limitIndex = separateNum %}
  | {% assign offsetIndex = 0 %}
  | {% for i in (1..site.categories.archive.size) %}
  | {% assign loopindex = forloop.index0 | modulo: separateNum %}
  | {% if loopindex == 0 %}

  | {% if forloop.index0 > 1 and limitIndex < site.categories.archive.size %}
  | {% assign offsetIndex = offsetIndex | plus: separateNum | plus: 1 %}
  | {% assign limitIndex = limitIndex | plus: separateNum | plus: 1 %}
  li
    a(href="#vol{{ offsetIndex }}") 放送リストvol.{{ offsetIndex }}~{{ limitIndex }}
  | {% elsif forloop.index0 == 0 %}
  li
    a(href="#vol1") 放送リストvol.1~{{ limitIndex }}
  | {% endif %}
  | {% endif %}
  | {% endfor %}
section.mdl-grid.mdl-grid-marginTop
  .mdl-cell.mdl-cell--center.mdl-cell--9-col
    .mdl-card.mdl-shadow--2dp
      .mdl-card__title.mdl-typography--headline 放送リスト
      .mdl-card__supporting-text
        ul
          +addInnerPageLinks

| {% assign separateNum = 9 %}
| {% assign limitIndex = separateNum %}
| {% assign offsetIndex = 0 %}
//- | {% for post in paginator.posts reversed %}
| {% for i in (1..site.categories.archive.size) %}
| {% assign loopindex = forloop.index0 | modulo: separateNum %}
| {% if loopindex == 0 %}

| {% if forloop.index0 > 1 and limitIndex < site.categories.archive.size %}
| {% assign offsetIndex = offsetIndex | plus: separateNum | plus: 1 %}
| {% assign limitIndex = limitIndex | plus: separateNum | plus: 1 %}

section.mdl-grid
  .mdl-cell.mdl-cell--center.mdl-cell--9-col
    .mdl-typography--headline(id="vol{{ offsetIndex }}") 放送リストvol.{{ offsetIndex }}~{{ limitIndex }}
| {% elsif forloop.index0 == 0 %}
section.mdl-grid
  .mdl-cell.mdl-cell--center.mdl-cell--9-col
    .mdl-typography--headline(id="vol1") 放送リストvol.1~{{ limitIndex }}
| {% endif %}


section.mdl-grid
  .mdl-cell.mdl-cell--center.mdl-cell--9-col
    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
      thead
        tr
          th vol
          th タグ
      tbody
        | {% for post in site.categories.archive reversed %}

        | {% if forloop.index >= offsetIndex and forloop.index <= limitIndex %}
        tr
          td
            a(href='{{ post.url }}') {{ post.title }}
          td
            ul.hs-list
              | {% for tag in post.tags %}
              li.hs-list-item
                span.mdl-chip.hs-chip
                  a.mdl-chip__text(href='/lists/tag/{{ tag | slugify }}') {{ tag }}
              | {% endfor %}
        | {% endif %}
        | {% endfor %}
| {% endif %}
| {% endfor %}
