<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      {% include header.html %}

      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
              {{ content }}
            </div>
          </div>
        </div>
        {% include footer.html %}
      </main>
    </div>


  <link async href="{{ "/scripts/main.min.js" | prepend: site.baseurl }}">
  <script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register("{{ "/sw.js" | prepend: site.baseurl }}").then(function() {
      console.log("Service Worker Registered");
    });
  }
  </script>
  </body>

</html>
