<!DOCTYPE html>
<html>{% include head.html %}
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">{% include header.html %}
      <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
          <div class="page-content">
            <div class="mdl-grid">{{ content }}</div>
          </div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-2">
          <div class="page-content">
            <p>あああ</p>
          </div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-3">
          <div class="page-content">
            <!-- Your content goes here-->
          </div>
        </section>{% include footer.html %}
      </main>
    </div>
  </body>
</html>