<!DOCTYPE html>
<html>{% include head.html %}
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">{% include header.html %}
      <main class="mdl-layout__content">
        <div class="page-content">
          <section class="mdl-grid mdl-grid-post">
            <div class="mdl-cell mdl-cell--center mdl-cell--8-col">
              <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-typography--display-1">{{ page.title }}</div>
                <div class="mdl-card__supporting-text">
                  <p class="post-meta">放送日:{{ page.date | date: "%Y年%m月%-d日" }}</p>
                  <article>{{ content }}</article>
                </div>
                <div class="mdl-card__actions mdl-card--border"><a class="mdl-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="https://www.youtube.com/results?search_query=放送室+{{ page.youtube }}" target="_blank">Youtubeで探す</a></div>
                <div class="mdl-card__actions mdl-card--border">{% for tag in page.tags %}<span class="mdl-chip hs-chip"><a class="mdl-chip__text" href="/tags/index.html#{{ tag | slugize }}">{{ tag }}</a></span>{% endfor %}</div>
              </div>
            </div>
          </section>
          <section class="mdl-grid">
            <div class="mdl-cell mdl-cell--center mdl-cell--8-col">
              <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-typography--title">挿入歌</div>
                <div class="mdl-card__supporting-text">
                  <h1 class="mdl-typography--title">{{ page.songName }}</h1>
                  <h2 class="mdl-typography--body-1">{{ page.singer }}</h2>
                </div>
                <div class="mdl-card__actions mdl-card--border"><a class="mdl-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="https://www.youtube.com/results?search_query={{ page.singer }}+{{ page.songName }}" target="_blank">Youtubeで探す</a></div>
              </div>
            </div>
          </section>
        </div>{% include footer.html %}
      </main>
    </div>
  </body>
</html>