section.mdl-grid.mdl-grid-marginTop
  .mdl-cell.mdl-cell--center.mdl-cell--9-col
    .mdl-typography--headline 企画リスト

section.mdl-grid
  .mdl-cell.mdl-cell--center.mdl-cell--9-col
    .mdl-card.mdl-shadow--2dp
      .mdl-card__title.mdl-typography--title(href="#publicBroadcast") 公開録音
      .mdl-card__supporting-text
        p 12人の前だけの公開録音。
        ul.mdl-list
          li.mdl-list__item
            a(href='{{ site.baseurl }}/archive/2002/06/20/001/') vol.38
          li.mdl-list__item
            a(href='{{ site.baseurl }}/archive/2002/06/27/001/') vol.39

section.mdl-grid
  .mdl-cell.mdl-cell--center.mdl-cell--9-col
    .mdl-card.mdl-shadow--2dp
      .mdl-card__title.mdl-typography--title(href="#tellToMother") オカンに電話
      .mdl-card__supporting-text
        p 松本、高須が自分のオカンに電話して「ボブサップ知ってる?」と聞く企画。
        ul.mdl-list
          li.mdl-list__item
            a(href='{{ site.baseurl }}/archive/2003/01/30/001/') vol.70

section.mdl-grid
  .mdl-cell.mdl-cell--center.mdl-cell--9-col
    .mdl-card.mdl-shadow--2dp
      .mdl-card__title.mdl-typography--title(href="#budoukan") 放送室 in 武道館
      .mdl-card__supporting-text
        p 2003年12月27日に日本武道館で行われた史上最大の公開録音。
        ul.mdl-list
          li.mdl-list__item
            a(href='{{ site.baseurl }}/archive/2004/02/05/001/') vol.123
          li.mdl-list__item
            a(href='{{ site.baseurl }}/archive/2004/02/12/001/') vol.124
          li.mdl-list__item
            a(href='{{ site.baseurl }}/archive/2004/02/19/001/') vol.125

section.mdl-grid
  .mdl-cell.mdl-cell--center.mdl-cell--9-col
    .mdl-card.mdl-shadow--2dp
      .mdl-card__title.mdl-typography--title(href="#capri") カプリチョーザ杯
      .mdl-card__supporting-text
        p 松本がカプリチョーザ好きということからカプリチョーザがスポンサーになる。やがてお題のテーマを会話中に入れるというカプリチョーザ杯が生まれた。多数の芸人が電話出演した。
        ul.mdl-list
          li.mdl-list__item
            a(href='{{ site.baseurl }}/archive/2004/09/23/001/') vol.156
          ul.mdl-list
            li.mdl-list__item 松本がカプリチョーザのニンニクとトマトのスパゲッティを絶賛
        ul.mdl-list
          li.mdl-list__item
            a(href='{{ site.baseurl }}/archive/2004/12/16/001/') 第1回(vol.168)
          ul.mdl-list
            li.mdl-list__item テーマ「乗り物」千原ジュニア
            li.mdl-list__item テーマ「昆虫」ほっしゃん。
            li.mdl-list__item テーマ「魚」山下しげのり
            li.mdl-list__item テーマ「鳥」水玉れっぷう隊アキ
            li.mdl-list__item テーマ「飲み物」千原せいじ
        ul.mdl-list
          li.mdl-list__item
            a(href='{{ site.baseurl }}/archive/2005/01/06/001/') 第2回(vol.171)
          ul.mdl-list
            li.mdl-list__item テーマ「国名」山下しげのり
            li.mdl-list__item テーマ「果物」大山
            li.mdl-list__item テーマ「動物」宮川大輔
            li.mdl-list__item テーマ「色」ライセンス藤原
            li.mdl-list__item テーマ「花」FUJIWARA藤本
        ul.mdl-list
          li.mdl-list__item
            a(href='{{ site.baseurl }}/archive/2005/04/23/001/') 第3回(vol.187)
          ul.mdl-list
            li.mdl-list__item テーマ「外国名」DonDokoDon平畠
            li.mdl-list__item テーマ「虫」ガキの使いディレクター堤本
            li.mdl-list__item テーマ「果物」くりぃむしちゅー有田
            li.mdl-list__item テーマ「魚」ライセンス井本
            li.mdl-list__item テーマ「動物」かわら長介
        ul.mdl-list
          li.mdl-list__item
            a(href='{{ site.baseurl }}/archive/2006/01/14/001/') 第4回(vol.224)
          ul.mdl-list
            li.mdl-list__item テーマ「乗り物」千原せいじ
            li.mdl-list__item テーマ「飲み物」FUJIWARA藤本
            li.mdl-list__item テーマ「花」DonDokoDon平畠
            li.mdl-list__item テーマ「外国名」バッファロー吾郎
        ul.mdl-list
          li.mdl-list__item
            a(href='{{ site.baseurl }}/archive/2009/01/03/001/') 総集編(vol.379)

section.mdl-grid
  .mdl-cell.mdl-cell--center.mdl-cell--9-col
    .mdl-card.mdl-shadow--2dp
      .mdl-card__title.mdl-typography--title(href="#guest") ゲスト出演
      .mdl-card__supporting-text
        ul.mdl-list
          li.mdl-list__item
            a(href='{{ site.baseurl }}/archive/2003/01/16/001/') vol.68
            span.mdl-list__item-leftMargin 千原ジュニア、木村祐一
          li.mdl-list__item
            a(href='{{ site.baseurl }}/archive/2003/07/17/001/') vol.94
            span.mdl-list__item-leftMargin 山崎邦正
          li.mdl-list__item
            a(href='{{ site.baseurl }}/archive/2005/08/27/001/') vol.205
            span.mdl-list__item-leftMargin 清水宏泰、城間康男
          li.mdl-list__item
            a(href='{{ site.baseurl }}/archive/2007/04/28/001/') vol.291
            span.mdl-list__item-leftMargin トータス松本
